@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 30%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    --toggle-bg: 0 0% 95%;
    --toggle-bg-foreground: 0, 0%, 80%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --toggle-bg: 0 0% 25%;
    --toggle-bg-foreground: 0, 0%, 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-cardBox {
  border-radius: 3px;
}

.cl-card,
.cl-footer {
  background: #313338;
  border-radius: 3px;
}

.cl-internal-180wb59 {
  border-radius: 0;
}

.cl-formButtonPrimary,
.cl-socialsButton {
  background: #5865f2;
  color: white;
  border: none;
  border-color: #5865f2;
  box-shadow: none;
  border-radius: 3px;
}

.cl-formButtonPrimary:hover,
.cl-socialsButton:hover {
  background: #4752c4;
}

.cl-internal-n8erpa[data-variant="solid"][data-color="primary"] {
  box-shadow: none;
}

.cl-formFieldInput {
  background: #1e1f22;
  border-radius: 3px;
  border: none;
}

.cl-footerActionLink {
  color: #00a8fc;
}

.cl-internal-n8erpa[data-variant="solid"]::after {
  background: #5865f2;
}

.cl-internal-sqs40d[data-variant="default"] {
  box-shadow: none;
}
